/* src/components/Header/Header.css */
.header {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  max-height: 50px;
  border-radius: 5px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-body);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-green);
}

.cta-button {
  background-color: var(--primary-green);
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--dark-blue);
  font-weight: bold;
}

.cta-button:hover {
  background-color: #2bc194;
  color: var(--dark-blue);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px; /* Altura do header */
    flex-direction: column;
    background-color: var(--dark-blue);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    gap: 20px;
    padding: 20px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}